html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-clear {
    border: none;
    background: transparent;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  } 